<div class="w-100 head-filter" (click)="toggleFull()">
  <label>Filtrar</label>
  <fa-icon [icon]="faSortUp" class="arrow" *ngIf="filterDisplay.full"></fa-icon>
  <fa-icon [icon]="faSortDown" class="arrow" *ngIf="!filterDisplay.full"></fa-icon>
</div>

<div class="container hotel-filter" [class.d-none]="!filterDisplay.full">
  <div class="card filter-title">
    <div class="card-body" id="headingName">
      <h5 class="mb-0">
        Filtros
      </h5>
    </div>
  </div>
  
  <div class="card filter-name">
    <div class="container filter-name-label" (click)="toggleName()">
      <div class="">
        <fa-icon [icon]="faSearch"></fa-icon><label>Nombre de hotel</label> 
      </div>
      <fa-icon [icon]="faSortUp" class="arrow" *ngIf="filterDisplay.name"></fa-icon>
      <fa-icon [icon]="faSortDown" class="arrow" *ngIf="!filterDisplay.name"></fa-icon>
    </div>

    <div>
      <div class="container input-group filter-name-input" [class.d-none]="!filterDisplay.name">
        <input #name (keyup)="onNameChange(name.value)" (keyup.enter)="updateFilter()" class="form-control w-70" placeholder="Ingrese el nombre del hotel">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="updateFilter()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card filter-stars">
    <div class="container filter-stars-label" (click)="toggleStars()">
      <div class="">
        <fa-icon [icon]="faStar"></fa-icon><label>Estrellas</label>
      </div>
      <fa-icon [icon]="faSortUp" class="arrow" *ngIf="filterDisplay.stars"></fa-icon>
      <fa-icon [icon]="faSortDown" class="arrow" *ngIf="!filterDisplay.stars"></fa-icon>
    </div>
    <ul class="container list-group" [class.d-none]="!filterDisplay.stars" >
      <li class="list-group-item" *ngFor="let stars of starsList" (click)="onStarsChange(stars)">
           <input #f class="d-inline" type="checkbox" name="starsgroup" [checked]=stars.status >
           <div *ngIf="stars.id" class="hotel-stars d-inline">
                <svg-icon *ngFor="let i of Arr(stars.id).fill(1)" src="/assets/icons/filters/star.svg" [svgStyle]="{ 'width.px':15, 'margin-right.px': 5 }"></svg-icon>
           </div>
           <div *ngIf="!stars.id" class="d-inline">
              Todas las estrellas
           </div>
      </li>
    </ul>
  </div>
</div>