.head-filter {
	color: #002979;
	position: absolute;
    top: -46px;
    background-color: #fff;
    left: 0;
    text-align: center;
    font-size: 1.2em;
    z-index: 99;

    label {
    	margin-right: 10px;
    }

    @media (min-width: 1134px) {
    	display: none;
	}
}

.hotel-filter {
	min-width: 252px;
	color: #0a7bb4e8;
	font-weight: 700;

    @media (max-width: 1134px) {
	    margin-top: -13px;
	    position: absolute;
	    left: 0;
	    width: 101%;
	    padding: 0;
	    z-index: 98;
    }

	.filter-title {
	    @media (max-width: 1134px) {
	    	display: none;
	    }
		h5 {
			color: #000;
		}
	}

	label {
		margin-left: 5px;
	}

	.filter-name-label {
		top: 12px;
		position: relative;
		height: 45px;
	}
	.filter-name-input {
		margin-bottom: 12px;

		input {
			margin-right: 20px;
			height: 45px;
    	}
		button {
	      background-color: #002979;
		  border-color: #002979;
		  font-weight: 500;
		  font-size: 1.3em;
   		}
	}

	.filter-stars-label {
		top: 10px;
		position: relative;
	}

    .list-group-item {
    	border: none;
	    padding-bottom: 15px;
	    margin: 0;
	    padding-top: 0;
		color: #000;

    	input[type="checkbox"] {
    		margin-right: 10px;
    		margin-top: -5px;
    	}

	    .hotel-stars {
	      fill: #ffbb00;
	      font-size: x-small;
          vertical-align: super;
	    }
    }
	.arrow {
	    float: right;
	    top: -30px;
	    margin: 0;
	    width: 10px;
	    position: relative;
        color: #0a7bb4e8;
      }
}