.hotel-card {
  min-width: 252px;
  background-color: #fff;
  padding: 15px 0;
  margin: 5px 5px 20px;

  .hotel-detail {

    h6 {
      color: #0a7bb4e8;
      margin: 0;
      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
    }

    .hotel-stars {
      fill: #ffbb00;
    }
    .hotel-amenities {
      margin-top: 15px;
      margin-bottom: 25px;
    }

  }

  .hotel-cta {
    text-align: center;
    min-width: 235px;

    @media (max-width: 768px) {
      border-color: #8080804d;
      border-top-style: dotted;
    }
    @media (min-width: 1134px) {
      border-top-style: none;
      border-left-style: dotted;
    }

    .price-note {
      padding: 10px 27px 0;    
    }

    .hotel-price {
      color: #e16800;
      font-size: 2em;
      display: inline-block;
      white-space: nowrap;


      b {
        font-size: 1.3em;
      }
    }

    a {
      background-color: #002979;
      border-color: #002979;
      width: 215px;
      margin: 0 auto;
      font-size: 22px;
      line-height: 40px;
    }

  }

  .image-frame {
    height: 200px;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    
    text-align: center;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      position: relative;
      left: 50%;
      top: 50%;
    }
  }
}