<div class="row hotel-card shadow-sm">
  <div class="col-md-4 image-frame">
    <img class="img-fluid d-block" src="/assets/images/hotels/{{ hotel.image }}">
  </div>
  <div class="col-md-4 hotel-detail">
    <div>
      <div>
        <h6><b>{{ hotel.name }}</b></h6>
        <div class="hotel-stars">
          <svg-icon *ngFor="let i of Arr(hotel.stars).fill(1)" src="/assets/icons/filters/star.svg" [svgStyle]="{ 'height.px':17, 'margin-right.px': 5 }"></svg-icon>
        </div>
        <div class="hotel-amenities">
          <svg-icon *ngFor="let amenity of hotel.amenities" src="/assets/icons/amenities/{{amenity}}.svg" [svgStyle]="{ 'height.px':20, 'margin-right.px': 15 }"></svg-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 hotel-cta">
    <div class="row" class="price-note"> <span> Precio por noche por </span><span>habitación</span> </div>
    <div class="row" class="hotel-price"> ARS <b>{{ hotel.price | number:'1.2':'es' }}</b></div>
    <div class="row text-center">
      <a class="btn btn-primary w-md-80 w-xs-90 text-center" href="/hotel/{{ hotel.id }}"><b>Ver hotel</b></a>
    </div>
  </div>
</div>
