<div class="main-content">
  <div class="row hotel-list">
    <div class="col-md-4">
      <app-hotel-filter (filterEvent)="onFilter($event)"></app-hotel-filter>
    </div>
    <div class="col-md-8">
      <app-hotel *ngFor="let hotel of hotels" [hotel]="hotel" ></app-hotel>
    </div>
  </div>
</div>