body {
	background: #f8f8f8;
    font-family: 'ProximaNova', sans-serif;
}
span {
    color: #ffffff;
    font-size: 16px;
    text-decoration-line: none;
    line-height: 16px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    white-space: nowrap;
    font-weight: 400;
}
.header-nav {
	background: #fff;
}
.logoHeader {
    background-size: 106.8px 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 106.8px;
    background-image: url(https://static.almundo.com/img/header/logo_almundo_DK.svg);
}
.logo {
    float: left;
    padding-top: 16px;
    padding-right: 12px;
    display: inline-block;
}
#interactions {
	background-image: linear-gradient(to top, #ef5375, #ea6422);
    border-radius: 4px;
}